<form>
    <h1>{{ 'PLUGIN_ZOHO_SUBSCRIPTIONS.PAYMENT_CONFIRMATION'|tu }}</h1>
    <p class="bigger">
        {{ 'PLUGIN_ZOHO_SUBSCRIPTIONS.OUTSTANDING_INVOICES_UNPAID'|tu }}
    </p>
    <table>
        <tr>
            <th style="color: #312d3c;">Date</th>
            <th style="color: #312d3c;">Invoice</th>
            <th style="color: #312d3c;">Status</th>
            <th style="color: #312d3c;">Balance</th>
        </tr>
        {% for key, invoices in  array(invoices) %}
            {% if key == 'overdue' or key == 'unpaid' or key == 'sent' or key == 'viewed' or key == 'partiallypaid' %}
                {% for invoice in invoices %}
                    {{ dump(invoice) }}
                    <tr>
                        <td>{{ invoice['invoice_date']|date('j M Y') }}</td>
                        <td><a style="color: #ffc600;" href="/admin/zoho_portal/invoice/download/id:{{ invoice['invoice_id'] }}">{{ invoice['number'] }}</a></td>
                        <td style="font-weight: 900;color: {{ invoice['status'] == 'overdue' ? 'firebrick' }}">{{ invoice['status']|capitalize }}</td>
                        <td>{{ invoice['currency_symbol'] }}{{ invoice['balance'] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <div class="button-bar">
        <a class="button secondary" data-remodal-action="cancel" href="#">Cancel</a>
        <a id="btn-pay-now" href="/admin/zoho_portal/pay_now" class="button">{{ "PLUGIN_ZOHO_SUBSCRIPTIONS.PAY_NOW"|tu }}</a>
    </div>
</form>

